.popup__name {
  border: none;
  outline: none;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
  color: #000000;
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
  padding: 54px 0 13px 0;
}

@media screen and (max-width: 620px) {
  .popup__name {
  margin: 35px 0 10px 0;
  }
}