.profile__description {
  margin: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  color: #FFFFFF;
}

@media screen and (max-width: 940px) {
  .profile__description {
  margin-top: 14px;
  }
}

  @media screen and (max-width: 620px) {
  .profile__description {
  text-align: center;
  }
}