.popup__container {
  position: relative;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 430px;
  padding: 0 36px 36px 36px;
}

@media screen and (max-width: 620px) {
  .popup__container {
  width: 282px;
  padding: 0 22px 25px 22px;
  }
}