.popup__edit-description {
  border: none;
  outline: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
  color: #000000;
  margin-bottom: 13px;
}

@media screen and (max-width: 620px) {
  .popup__edit-description {
  margin-bottom: 10px;
  font-size: 10px;
  line-height: 1.2;
  }
}