.popup__input {
  border: none;
  outline: none;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
  color: #000000;
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
}